---
import Discussion from "../components/Discussion.svelte";
import BaseLayout from "./BaseLayout.astro";
import EditLink from "../components/EditLink.astro";
import { calculateReadingTime } from "../lib/reading-time";
import Published from "../components/Published.astro";
import LastUpdated from "../components/LastUpdated.astro";
import { Picture } from "astro-imagetools/components";

import "../styles/markdown.scss";

export interface Props {
	content: {
		title: string;
		description: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, heroImage },
} = Astro.props;

const includesKatex = Astro.props
	.compiledContent()
	.includes('class="math math-display"');

const readingTime = calculateReadingTime(Astro.props.compiledContent());

const editUrl = `https://github.com/JonasKruckenberg/JonasKruckenberg/edit/main/src/pages${Astro.url.pathname}.md`;
---

<BaseLayout title={title} description={description}>
	{
		includesKatex && (
			<link
				rel="stylesheet"
				// href="/katex/katex.min.css"
				href={new URL('/katex/katex.min.css', Astro.url)}
				crossorigin="anonymous"
				slot="head"
			/>
		)
	}

	<article>
		<header>
			{
				heroImage && (
					<Picture
						src={heroImage}
						alt="A landscape image"
						breakpoints={{ count: 5, minWidth: 300, maxWidth: 2048 }}
						attributes={{
							picture: {
								style: "grid-area: hero;"
							},
							img: {
								style: "max-width: unset;"
							}
						}}
						aspect={2.333333333}
					/>
				)
			}
			<h1 style="grid-area: title;">{title}</h1>
			<Published />
			<LastUpdated />
			<span style="grid-area: read-time;">{readingTime} minute read</span>
			<EditLink url={editUrl} />
		</header>

		<slot />

		<aside>
			<EditLink url={editUrl} />
			<Discussion client:visible />
		</aside>
	</article>
</BaseLayout>

<style lang="scss" is:global>
	p {
		margin-bottom: 2rem;
	}
</style>

<style lang="scss">
	@use "../styles/variables" as *;

	article {
		font-size: 1.1em;

		header {
			margin-bottom: 2em;
			display: grid;
			grid-template-columns: repeat(3, max-content) 1fr;
			grid-template-areas:
				"hero      hero    hero      hero"
				"title     title   title     title"
				"published updated read-time edit";
			gap: 0 1.5em;
			max-width: 100%;

			h1 {
				font-size: 3em;
				margin: 0.25em 0 0;
				border-bottom: none;
			}

			@media (max-width: 700px) {
    			h1 {
    			    font-size: 2em;
				}
			}

			img {
				max-width: unset;
			}
		}
	}

    aside {
        margin-block-start: 2em;
    }
</style>
